#gameScreen
{

    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*background-color: rgb(255, 0, 0);*/
    width: 100%;height: 75%;
}

#view1
{
    width: 200px;height: 200px;
}

#leftArrow
{
    position: absolute;
    width: 30%;
    left: 1%;
    top: 32%;
    z-index: 2;
}
#rightArrow
{
    position: absolute;
    width: 30%;
    left: 69%;
    top: 32%;
    z-index: 2;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }
  