#logotipo
{
    width:80%; 
}
#authArea
{
    padding-right: 100px;
}
#authBtnLogin
{
    color: #D5A923;
    border-radius: 50%;
}
#authBtnLogin:hover 
{
    color: black;
    background-color: #D5A923;
}
#authBtnLogout
{
    color: #D5A923;
    border-radius: 50%;
    border-color: #D5A923;
}
#authBtnLogout:hover 
{
    color: black;
    background-color: #D5A923;
}
#authBtnRegister
{
    color: #D5A923;
    border-radius: 50%;
    border-color: #D5A923;
}
#authBtnRegister:hover 
{
    color: black;
    background-color: #D5A923;
}

#authCorLetras
{
    color: #D5A923;
    border-color: #D5A923;
}

.custom-toggler.navbar-toggler 
{
    border-color: #D5A923;
} 

.card-horizontal {
    color: black;
    display: flex;
    flex: 1 1 auto;
}

#content
{
    color: white;
    background-color: black;
}

.container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: black;
}

.centered {
  position: relative;
}