#logotipo
{
    width:80%; 
}
#authBtnLogin
{
    color: #D5A923;
    border-radius: 50%;
}
#authBtnLogin:hover 
{
    color: black;
    background-color: #D5A923;
}
#authBtnLogout
{
    color: #D5A923;
    border-radius: 50%;
    border-color: #D5A923;
}
#authBtnLogout:hover 
{
    color: black;
    background-color: #D5A923;
}
#authBtnRegister
{
    color: #D5A923;
    border-radius: 50%;
    border-color: #D5A923;
}
#authBtnRegister:hover 
{
    color: black;
    background-color: #D5A923;
}

#authCorLetras
{
    color: #D5A923;
    border-color: #D5A923;
}

.custom-toggler .navbar-toggler-icon 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(213,169,35, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 4h24M4 16h24M4 28h24'/%3E%3C/svg%3E");
    
}
/*
.custom-toggler.navbar-toggler 
{
    border-color: #D5A923;
} 
*/
.card-horizontal {
    color: black;
    display: flex;
    flex: 1 1 auto;
}

#content
{
    color: white;
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  
}

.centered {
  position: relative;
}

#footer
{
    background-color: black;
    color: white;
}

#imgCustomLogo
{
    width: 70%;
}
#imgCustomGit
{
    width: 8%;
}