.round-time-bar 
{
    margin: 0rem;
    overflow: visible;
}
.round-time-bar div 
{
    height: 25px;
    animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, #D5A923, #D5A923);
}

.round-time-bar[data-style="smooth"] div 
{
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime 
{
    to 
    {
        /* More performant than `width` */
        transform: scaleX(0);
    }
}
  