#customHeader 
{
  display: flex;
  justify-content: center;
  background-color: blue;
}

#escapeRoomGame
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}